{{#with list}}
    <div>{{#link-to 'list'}}{{title}}{{/link-to}}</div>
    <ol>
        {{#each item in items}}
            <li>
                {{list-item item=item}}
            </li>
        {{/each}}
    </ol>
{{/with}}
