{{#with item}}
    {{#link-to 'item' id}}<p>{{title}}</p>{{/link-to}}
    {{#if description}}
        <div>{{description}}</div>
    {{/if}}
    {{#if image}}
        <img alt="{{text}}" {{bind-attr src=image}}>
    {{/if}}
{{/with}}
