<nav class='navbar navbar-default'>
    <div class='container'>
        {{#link-to 'lists' class='navbar-brand'}}List Maker (alpha){{/link-to}}
        <div class='navbar-right'>
                {{#if session.isAuthenticated}}
                    <p class='navbar-text'>
                        Logged in as {{session.currentUser.displayName}}
                    </p>
                    {{#bs-button action='signOut' type='default' class='navbar-btn'}}
                        Sign out
                    {{/bs-button}}
                {{else}}
                    {{#link-to 'signin' class='navbar-text'}}Sign in{{/link-to}}
                {{/if}}
        </div>
    </div>
</nav>
<div class='container'>
    {{outlet}}
</div>
