<div>Lists</div>
{{#link-to 'lists.create'}}Create{{/link-to}}
<ul>
    {{outlet}}
    {{#each list in controller}}
        <li>{{#link-to 'list' list}}{{list.title}}{{/link-to}}</li>
    {{/each}}
</ul>
