<div class='page-header'>
    <h1>Sign In</h1>
</div>

{{#bs-button-group}}
    {{#bs-button action='signIn' value='facebook' id='facebook-login-button'}}
        {{fa-icon 'facebook'}} Sign in with Facebook
    {{/bs-button}}
{{/bs-button-group}}
